:root {
    --height-item-menu: 400px;
    --width-item-menu: 500px;
}

* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    font-size: 4rem;
    width: 100%;
    color: white;
    background-color: brown;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: black; */
}

.item-list-container {
    width: var(--width-item-menu);
    height: var(--height-item-menu);
}


input.add-item {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 16pt;
    border: none;
    background-color: rgb(55, 100, 86);
    color: white;
    box-sizing: border-box;
    outline: none;
    border-radius: 16px 16px 0 0;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: rgb(39, 73, 70);
    border-radius: 0 0 16px 16px;
    height: var(--height-item-menu);
    overflow: auto;
    scrollbar-width: 0;
}

ul::-webkit-scrollbar{
    display: none;
}
ul p{
    color: white;
    width: 90%;
    padding-left: 8px;
}
ul li{
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: rgb(98, 121, 98);
    margin-bottom: 6px;
    align-items: center;
    border: 2px solid rgb(129, 147, 138);
}

button.delete-button{
    background-color: red;
    box-sizing: border-box;
    color: white;
    width: 40px;
    height: 40px;
    border: none;
}